@use "../../../scss/index.scss" as *;

.nav {
  color: white;
  height: 80px;
  width: 100%;
  background-color: transparent;
  position: fixed;
  @include flex();
  justify-content: space-around;
  flex-direction: row;

  backdrop-filter: blur(10px);
  z-index: 999;
}
.nav_links {
  font-size: 12px;
  @include flex();
  gap: 48px;
}
.logo img {
  height: 40px;
  width: 40px;
}
.nav_cta_main {
  font-size: 12px;
  background-color: $cta_BG_color;
  border-radius: 8px;
  border: 0.7px solid white;
  padding: 8px 20px;
}
