* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
}

@font-face {
  font-family: monu_ex_reg;
  src: url(../public/fonts/monument/MonumentExtended-Regular.otf);
}

.monu_ex_reg {
  font-family: monu_ex_reg;
}

@font-face {
  font-family: space_grotesk;
  src: url(../public/fonts/SpaceGrotesk/SpaceGrotesk-Regular.otf);
}

.space_grotesk {
  font-family: space_grotesk;
}
