@use "../../../scss/index.scss" as *;

.slider_container {
  background-color: $other_BG_color;
  color: white;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide_track {
  display: flex;
  width: calc(250px * 18);
}
.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
}
.slide img {
  width: 100%;
}
// grdient shaddows

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
